::selection { background: #BB1717; }

.cas__contenu h2 {
    color: #BB1717;
}

.cas__contenu .appconnexion .submit {
    background: #ae1515;
}

input[type="submit"]:hover, span.submit:hover {
    background: #7B0F0F;
  }
  
span.submit, input[type="submit"] {
background-color: #ae1515;
}

#introduction > li > a {
    color: #BB1717;
}

#introduction > li > a:hover {
    color: #FA1E1E;
}

#page {
    background: whitesmoke!important;
}  

.accueil .accueil__carte__info.paragraphe--2, .ficheaccueil .accueil__carte__info.paragraphe--2 {
    background: #BB1717;
}

.accueil .accueil__carte__info.paragraphe--2 .emploiDuTemps__lien, .ficheaccueil .accueil__carte__info.paragraphe--2 .emploiDuTemps__lien {
    background: #BB1717;
}

.accueil .accueil__carte__info.widget li a:hover, .accueil .accueil__carte__info.widget li a:focus, .ficheaccueil .accueil__carte__info.widget li a:hover, .ficheaccueil .accueil__carte__info.widget li a:focus {
    background: #ae1515;
}

ul.objets.notification li .vignette_deco .icon, ul.notification#liste_resultats li .vignette_deco .icon {
    color: #BB1717;
}

a:hover {
    color: #FA1E1E!important;
}
.a:hover {
    color: #FA1E1E!important;
}

nav {
    background: #BB1717;
}
  
.fiche {
background: #BB1717!important;
}
  
.recherche {
    background: #BB1717!important;
}
    

.sidebar-navigation .item .sidebar-lien {
    color: white;
}
.sidebar-navigation .sidebar-lien {
    color: white!important;
}

.sidebar-navigation .item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.sidebar-navigation .item:hover a {
    color: black;
}

.sidebar-navigation .sous-item .item a:hover {
    color:white!important;
}

#body .ui-dialog .ui-widget-header {
    background: #BB1717;
}
  
.choix_session__affichage {
    background: #BB1717;
}

.semestres .semestres__notes__titre > a::before {
    font-family: "icomoon";
    color: #BB1717;
}

.semestres .semestres__notes__document a::after {
    font-family: "icomoon";
    color: #FA1E1E;
}
h2::after {
    background: #FA1E1E;
}

.trombinoscope__information {
    background: #FA1E1E;
}


.trombinoscope__carte__action ul li a:hover .icon, .trombinoscope__carte__action ul li a:focus .icon {
    color: #FA1E1E;
  }
  

.fc-title-header:hover, .fc-title-header:focus {
    background-color: #BB1717;
}

.fc-state-hover, .fc-state-down, .fc-state-active, .fc-state-disabled {
    background-color: #BB1717;
}

.fc-today .fc-day-header-date {
    color: #FA1E1E;
}

.fc-today .fc-day-header-name {
    color: #FA1E1E;
}

.fc-event {
    border: 1px solid #BB1717;
    background-color: #BB1717;
}

.fc-event:hover {
    background-color: #7B0F0F;
}

.fc-title-header {
    background-color: #BB1717;
}

.bouton-switch-global .bouton-switch-input:checked ~ .bouton-switch.actif {
    background: #FA1E1E;
    box-shadow: inset 0 0 0 15px #FA1E1E;
}

.bouton-switch-global .bouton-switch-input:checked ~ .bouton-switch.actif::before {
    background: black;
}

.accordeon .accordeon__titre {
    background: #BB1717;
    border-color: #BB1717;
}

.paragraphe--2 {
    background: #FA1E1E;
}
