a {
    color: #C41818 !important;
}

.login a {
    color: rgba(255, 255, 255, .8)!important;
}

.nav > li > a {
    color: whitesmoke !important;
}

.main-nav {
    background-color: #BB1717 !important;
}

.top-bar {
    background-color: #BB1717 !important;
}

#page #region-main .coursebox {
    border-left: 2px solid #ae1515 !important;
}

/* Buttons */
.path-admin .buttons input[type=submit], button, input#id_submitbutton, input#id_submitbutton2, input.form-submit, input[type=submit], input[type=button], input[type=reset], td.submit input {
    background-color: #ae1515 !important;
    border: 1px solid #ae1515 !important;
}

/* images displayer */
.flexslider .flex-control-paging li a.flex-active {
    background: #7B0F0F !important;
}

.flexslider .flex-control-paging li:hover a {
    background: #7B0F0F !important;
}

/* Navigation menu opened */
.main-nav .nav li.open a {
    background: #941212 !important;
    background-color: #941212 !important;
}

.main-nav .nav li a:hover {
    background: #941212 !important;
    background-color: #941212 !important;
}

/* Submit Hover */
input[type=submit]:hover {
    background-color: #941212 !important;
    border: 1px solid #941212 !important;
    transition: 3s;
}

/* Left Menu */
.list-group-item    {
    color: #333333 !important;
}

/* Left Menu */
.list-group-item.active   {
    background: #941212 !important;
    color: white !important;
    background-color: #941212 !important;
}

/* Branding */
div.branding *  {
    background-color: inherit !important;
}

div.branding * * * * span , #yui_3_17_2_1_1570014335507_757   {
    background-color: black !important;
    outline-color: white !important;
}

div.branding * * * * span:hover , #yui_3_17_2_1_1570014335507_757:hover   {
    background-color: grey !important;
    outline-color: white !important;
}

div.branding > div.container-fluid > div.branding-inner *  {
    color: black !important;
    border-color: white !important;
}

/* a Hover */
a:hover {
    color: #FA1E1E !important;
}

/* a Active */
a:active {
    background-color: #FA1E1E !important;
}

/* button dashboard  */
.btn-default.active {
    background: #C41818 !important;
    color: white !important;
}

.btn-secondary, .btn-outline-secondary {
    color: #efefef !important;
}

.btn-default, a.btn-default .btn-default.active, .btn-default:active .open > .dropdown-toggle.btn-default {
    border-color: #C41818 !important;
    color: black !important;
}

.btn-default:hover {
    background: rgb(214, 43, 43) !important;
    color: white !important;
    transition: 1s;
}

/* Border */
.nav-tabs > li.active a, .nav-tabs > li.active a:active, .nav-tabs > li.active a:focus, .nav-tabs > li.active a:hover {
    border-top: 2px solid #ae1515 !important;
}

.main-nav .nav li .dropdown-menu a {
    color: whitesmoke !important;
    background-color: #BB1717 !important;
    border-bottom: 1px solid #7B0F0F !important;
}

#page .block-region .block .header .title h2 {
    border-top: 2px solid #ae1515 !important;
}


